html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.main-navigation-menu,
.advantages-list,
.advantages-city-list,
.social-list,
.result-list {
  list-style: none;
}

.main-navigation-menu a {
  margin: 0;
  padding: 0;
  color: #000000;
}

.main-navigation-menu a:hover {
  color: #81b3d2;
}

.main-navigation-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.intro {
  background-color: #808080;
  background-image: url("../img/background-photo.jpg");
  margin: 0;
  padding: 0;
}

.advantages h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
}

.advantages p {
  color: #333333;
  text-align: center;
}

.advantages-start h3,
.advantages-start p {
  line-height: 26px;
}

.hotel-searching h2 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.hotel-searching p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.button {
  font: inherit;

  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
}

.button-search {
  font-size: 21px;
  line-height: 26px;

  width: 568px;
  height: 86px;
  background-color: #766357;
}

.button-minus,
.button-plus {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
}

.button-find {
  font-size: 21px;
  line-height: 26px;

  width: 458px;
  height: 58px;
  background-color: #81b3d2;
}

.button-more {
  display: inline-block;

  font-size: 14px;
  line-height: 26px;

  width: 110px;
  height: 27px;
  background-color: #81b3d2;
}

.button-book {
  display: inline-block;

  font-size: 14px;
  line-height: 26px;

  width: 142px;
  height: 27px;
  background-color: #766357;
}

.button-search:hover,
.button-book:hover {
  background-color: #604e43;
}

.button-search:active,
.button-book:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.button-find:hover,
.button-more:hover {
  background-color: #669ec0;
}

.button-find:active,
.button-more:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.result-hotel a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.result-hotel a:hover {
  color: #81b3d2;
}

.result-hotel a:active {
  color: rgba(0, 0, 0, 0.3);
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-contacts a{
  color: #000000;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
}

.rating {
  display: inline-block;

  font-size: 14px;
  line-height: 26px;
  color: #666666;
  text-align: center;

  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
}

.main-navigation {
  position: relative;
}

.main-header-logo {
  position: absolute;

  left: 50%;
  margin-left: -70px;
}

.menu-container {
  background-color: #ffffff;
}

.main-navigation-menu {
  display: flex;
  flex-wrap: wrap;

  width: 1056px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  outline: 1px solid blue;
}

.main-navigation-menu li {
  width: 240px;
  height: 56px;
  padding-top: 16px;

  outline: 1px solid tomato;    /*временно для сетки*/
}

.menu-item-left {
  text-align: left;
}

.menu-item-right {
  text-align: right;
}

.menu-push {
  margin-left: auto;
}

.intro img {
  margin-top: 76px;
  margin-left: 370px;
  margin-bottom: 81px;
}

.advantages::before {
  position: absolute;
  top: 514px;

  content: url("../img/intro-mask.svg");

  padding: 0;
  margin: 0;
}

.advantages-start-container {
  margin: 0;
  padding: 0;
  background-color: #ffffff;

  outline: 1px solid tomato;    /*временно для сетки*/
}

.advantages-start-container h3 {
  padding-top: 59px;
}

.advantages-start-container p {
  padding-bottom: 56px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item img {
  display: inline-block;
}

.advantages ol,
.advantages-item ul,
.advantages-list li {
  margin: 0;
  padding: 0;
}

.advantages-city-list {
  background-color: #ffffff;
}

.item-label {
  width: 400px;
  background-color: #eeeeee;
  margin: 0;
  padding-top: 46px;
  padding-right: 60px;
  padding-left: 60px;
  text-align: center;
}

.item-label-blue,
.item-label-blue p {
  background-color: #81b3d2;
  color: #ffffff;
}

.advantages-city-list {
  display: flex;
  position: relative;
  margin: 0;
}

.advantages-city-list li {
  width: 400px;
}

.advantages-city-list .house::before {
  position: absolute;

  content: url("../img/icon-house.svg");
}

.advantages-city-list .food::before {
  display: block;
  content: url("../img/icon-food.svg");
  margin-top: 62px;
  margin-bottom: 29px;
}

.advantages-city-list .souvenir::before {
  display: block;
  content: url("../img/icon-souvenir.svg");
}

.hotel-searching {
  text-align: center;
  background-color: #ffffff;
}

.hotel-searching-form {
  width: 568px;
  height: 395px;
  background-color: #ffffff;
  outline: 1px solid tomato;
}

.main-footer .container{
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #ffffff;
  opacity: 0.9;
}

.footer-contacts {
  width: 223px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}


/*hotel*/

.searching-result ul,
.result-list li {
  margin: 0;
}

.result-list {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.result-item {
  display: flex;
  align-items: center;

  margin: 0;
  width: 100%;
}

.hotel-info {
  margin-left: 30px;
}

.hotel-rating {
  margin-left: auto;
}
